@import "bases"

@for $i from 0 through 5
  .radius-#{$i}
    border-radius: $i + unquote("px")

p, label, input[type="text"], textarea, a
  font-size: 1.0rem
  line-height: 1.2rem

strong, b
  font-weight: 400

html, body
  width: 100%
  height: 100%
  font-family: 'Open Sans', sans-serif
  font-weight: 300

  *
    box-sizing: border-box

div[data-global-layer="popups"]
  @extend .position-fixed
  @extend .top-0
  @extend .left-0
  @extend .z-50
  @extend .width-50
  @extend .height-0

div[data-global-layer="popups"] .popup-manager
  @extend .position-absolute
  @extend .top-0
  @extend .left-0
  @extend .width-50
  @extend .height-0

div[data-global-layer="popups"] .popup-manager__popup-container
  @extend .position-absolute
  @extend .bg-white
  @extend .border-light
  @extend .radius-3
  
.icon:before
  font-size: 1.1rem
  line-height: 1.2rem

.oc
  max-width: 80vw
  margin: 0 auto

.pointer
  cursor: pointer

.button
  @extend .pointer
  @extend .radius-3
  @extend .bg-white-darken-4
  @extend .fg-black-lighten-10
  @extend .display-inline-block
  @extend .padding-lr-6
  @extend .padding-tb-3

.border-bottom-light
  @extend .border-bottom-1
  @extend .border-color-white-darken-10

.border-light
  @extend .border-1
  @extend .border-color-white-darken-10

.ellipsis
  text-overflow: ellipsis

.nowrap
  white-space: nowrap

.overflow-hidden
  overflow: hidden

.display-table--fixed
  table-layout: fixed

.hoc-menu__toggle
  @extend .button

.hoc-table__table-container 
  @extend .border-1
  @extend .border-color-white-darken-10

.hoc-table__table
  @extend .align-left
  @extend .display-table
  @extend .display-table--fixed
  @extend .width-50

.hoc-table__table tbody td,
.hoc-table__column-header-inner
  @extend .padding-tb-5
  @extend .padding-lr-10

.hoc-table__table tbody td
  @extend .border-bottom-light

.hoc-table__table tbody:last-child td
  @extend .border-bottom-0

.hoc-table__pagination-container
  @extend .margin-top-10

.hoc-table__pagination
  @extend .clearfix

.hoc-table__pagination-right
  @extend .float-right
  @extend .display-table
  @extend .display-table--fixed

.hoc-table__pagination-controls,
.hoc-table__pagination-count-info
  @extend .display-table-cell
  @extend .v-align-middle

.hoc-table__pagination-count-info-inner
  @extend .display-table
  @extend .display-table--fixed

.hoc-table__pagination-count-info aside
  @extend .display-table-cell
  @extend .v-align-middle
  @extend .padding-lr-3

.hoc-table__pagination-controls
  @extend .clearfix

.hoc-table__pagination-control--next,
.hoc-table__pagination-control--previous
  @extend .float-left
  @extend .margin-left-10

.hoc-table__pagination-control-next-button,
.hoc-table__pagination-control-previous-button
  @extend .button

.hoc-table__column-header-inner
  @extend .clearfix
  @extend .border-right-1
  @extend .border-color-white-darken-10

.hoc-table__table thead th:last-child .hoc-table__column-header-inner
  @extend .border-right-0

.hoc-table__column-header[data-sortable="true"]
  @extend .pointer

.hoc-table__column-header[data-align="right"]
  @extend .align-right

.hoc-table__column-header[data-align="center"]
  @extend .align-center

.hoc-table__indicator-container
  @extend .float-right
  @extend .margin-left-10

.hoc-table__column-header[data-align="right"] .hoc-table__indicator-container
  @extend .float-left
  @extend .margin-right-10
  @extend .margin-left-0

.hoc-table__table thead th
  @extend .border-bottom-light
  @extend .fg-black-lighten-15
  @extend .bg-white-darken-4

.background-transparent
  background-color: transparent

.hoc-table__size-menu-option
  transition: all 300ms ease
  @extend .padding-tb-5
  @extend .padding-lr-10
  @extend .align-right
  @extend .pointer

.hoc-table__size-menu-option:hover
  @extend .bg-white-darken-4

.outline-none
  outline: none

.balloon-input
  @extend .position-relative
  @extend .clearfix
  @extend .width-50

.balloon-input__input
  transition: all 0.3s ease-in-out
  @extend .z-2
  @extend .outline-none
  @extend .background-transparent
  @extend .position-relative
  @extend .display-inline-block
  @extend .padding-tb-5
  @extend .padding-lr-8
  @extend .width-50
  @extend .border-light
  @extend .radius-2
  text-indent: 60px

.balloon-input__input:focus,
.balloon-input__input:active
  text-indent: 0

.balloon-input__label
  transition: all 0.3s ease-in-out
  @extend .z-1
  @extend .fg-white-darken-20
  @extend .display-inline-block
  @extend .radius-4
  @extend .position-absolute
  @extend .padding-tb-5
  @extend .padding-lr-8
  @extend .display-block
  @extend .left-0
  @extend .top-4

.balloon-input__label:after
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  top: 100%;
  left: 50%;
  margin-left: -3px;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 3px solid rgba(122,184,147,0);
  transition: all .3s ease-in-out;

.balloon-input__input:focus + .balloon-input__label,
.balloon-input__input:active + .balloon-input__label
  @extend .fg-white
  transform: translateY(-40px);
  text-shadow: 0 1px 0 rgba(19,74,70,.4);
  background: rgba(122,184,147,1);

  &:after
    border-top: 4px solid rgba(122,184,147,1)
