<header class="padding-tb-15 border-bottom-light">
  <section class="oc clearfix">
    <div class="float-right">
      <div class="nav-list clearfix">
        <div class="float-left">
          <a href="https://github.com/dadleyy/charcoal">
            <i class="icon fs-5 ion-social-github fg-0" />
          </a>
        </div>
      </div>
    </div>
    <div class="float-left">
      <div class="">{{#link-to 'index'}}{{t 'home'}}{{/link-to}}</div>
    </div>
  </section>
</header>
