<header class="padding-tb-20 border-bottom-light">
  <section class="oc">
    <div class="float-right">
      <div class="nav-list clearfix">
        <div class="">{{#link-to 'about'}}{{t 'about'}}{{/link-to}}</div>
      </div>
    </div>
    <div class="float-left">
      <div class="">{{#link-to 'index'}}{{t 'home'}}{{/link-to}}</div>
    </div>
  </section>
</header>
