<article class="clearfix" data-template="listings">
  <section class="clearfix margin-bottom-10">
    <h1>{{t "listings"}}</h1>
  </section>
  <section class="clearfix">
    <div class="clearfix">{{listing-table delegate=model.delegate}}</div>
  </section>
</article>
