<section class="application-footer__inner">
  <div class="oc">
    <div class="vert-hack__table">
      <div class="display-table-cell width-25">
        <p>&copy; {{moment-format year 'YYYY'}} {{author}}</p>
      </div>
      <div class="display-table-cell width-25">
      </div>
    </div>
  </div>
</section>
