<div class="clearfix" data-template="listing-table">
  {{#hoc-table delegate=delegate sorting=sorting pagination=pagination as |table|}}
    {{#table.pending as |p|}}
      <tr class="pending"><td colspan="6"><p>{{t 'loading_listings'}}</p></td></tr>
    {{/table.pending}}

    {{#table.row as |row|}}
      {{#if row.empty}}
      <tr class="listing--empty">
        <td colspan="6">
          <p>{{t 'no_results'}}</p>
        </td>
      </tr>
      {{else}}
        {{listing-table/row row=row}}
      {{/if}}
    {{/table.row}}
  {{/hoc-table}}
</div>
