<div class="clearfix" data-template="listing-table">
  {{#hoc-table delegate=delegate as |table|}}
    {{#table.pending as |p|}}
      <tr class="pending"><td colspan="2"><p>loading...</p></td></tr>
    {{/table.pending}}

    {{#table.row as |row|}}
      <tr class="listing">
        <td class="v-align-middle">
          <p><a class="fg-0" href={{row.listing.url}} target="_blank" rel="noreferrer noopener">{{row.listing.listing_id}}</a></p>
        </td>
        <td class="v-align-middle"><p>{{row.listing.title}}</p></td>
        <td class="v-align-middle"><img src="{{row.images.firstObject.url_75x75}}" /></td>
      </tr>
    {{/table.row}}
  {{/hoc-table}}
</div>
