<div class="clearfix">
  <div data-global-layer="popups">{{popup-manager}}</div>
  <section class="clearfix">{{application-header}}</section>
  <main class="application-outlet">{{outlet}}</main>
  <section class="clearfix">{{application-footer}}</section>
</div>
