<div class="clearfix">
  <header class="padding-tb-20 border-bottom-light">
    <section class="oc"></section>
  </header>
  <main class="oc padding-tb-10">{{outlet}}</main>
  <footer></footer>
</div>
