<div class="clearfix">
  <div data-global-layer="popups">{{popup-manager}}</div>
  <section class="clearfix">{{application-header}}</section>
  <main class="oc padding-tb-10">{{outlet}}</main>
  <footer></footer>
</div>
